<%= simple_form_for(@cocktail) do |c| %>

<% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= c.input :name %>
  </div>

  <div class="form-actions">
    <%= c.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
